@import "../../global.scss"; 

.portfolioList{
    font-size: 15px; 
    margin-right: 2rem ;
    padding: 1rem; 
    border-radius: 8px;
    cursor: pointer; 

    &.active {
        background-color: $mainColor;
        color: white; 
    }
}